.container {
  padding: 15px 15px;
  margin-top: 25px;
  background-color: #4abdac;
  width: 70%;
}

body {
  color: #dfdce3;
  background-color: #4abdac;
  background: linear-gradient(to top, #4abdac 0%, #dfdce3 100%);
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
  font-size: 70px;
  line-height: 48px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 10px;
  color: #fc4a1a;
  font-family: "Pacifico", cursive;
}

form {
  display: flex;
  color: #dfdce3;
  font-size: 14px;
}

.type-city {
  width: 40%;
  color: #f7b733;
  margin: 2px;
  padding-left: 2px;
  text-align: left;
  border-radius: 6px;
  font-style: bold;
}

.search,
.current-location {
  color: #dfdce3;
  background-color: #f7b733;
  border-color: #f7b733;
  border-radius: 6px;
}

.search:hover {
  cursor: pointer;
  background: #dfdce3;
  color: #f7b733;
  border-color: #dfdce3;
  border-radius: 6px;
  border: 1px solid #dfdce3;
  transition: all 200ms ease-in-out;
}

.popular {
  display: flex;
  margin: 10px 0px;
}

.popular-text {
  margin: 5px 5px;
}

.popular-city {
  margin: 0px 5px;
  font-size: 14px;
  line-height: 5px;
  padding: 10px 15px;
  color: #f7b733;
  background-color: #dfdce3;
  border-color: #dfdce3;
  border-radius: 6px;
}

.popular-city:hover {
  opacity: 0.9;
  cursor: pointer;
  background: #f7b733;
  color: #dfdce3;
  border: 1px solid #f7b733;
  border-radius: 6px;
  transition: all 200ms ease-in-out;
}

.container-text-center {
  display: flexbox;
  align-items: center;
}

.col-5 {
  display: block;
  padding: 20px 10px 0px 70px;
}

.city-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vl {
  border-left: 6px solid #f7b733;
  margin-left: 20px;
  margin-right: 5px;
  height: 100px;
  align-self: center;
}

.city {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.current-date {
  margin-left: 50px;
  text-align: center;
}

.current-temp {
  margin-left: 0;
  margin-top: 20px;
}

.current-temp-number {
  font-size: 80px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.symbol {
  font-size: 50px;
  vertical-align: top;
}

#celsius {
  font-size: 30px;
  font-weight: bold;
  color: grey;
  margin: 10px 0px 0px 0px;
}

#celsius.active {
  color: #dfdce3;
  cursor: default;
}

#celsius.active:hover {
  text-decoration: none;
}

#fahrenheit {
  font-size: 30px;
  font-weight: bold;
  color: grey;
  margin: 10px 0px 0px 0px;
}

#fahrenheit.active {
  color: #dfdce3;
  cursor: default;
}

#fahrenheit.active:hover {
  text-decoration: none;
}

.temp-bar {
  font-size: 40px;
  color: #dfdce3;
  margin: 30px 0px 0px 0px;
}

.max-temp,
.min-temp {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-size: 35px;
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.grid-container {
  margin: 20px 0px 0px 0px;
}

.col-4 {
  display: flex;
  flex-direction: column;
  padding: 0px 100px 0px 40px;
  margin-top: -35px;
}

.weather-icon {
  font-size: 120px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: -5px;
}

.weather {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
  margin-top: -10px;
}

.realfeel {
  font-size: 20px;
  text-align: center;
}

.weather-alert {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.col-3 {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 0px 70px 0px 0px;
  margin-top: -5px;
}

.humidity {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #f7b733;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4px auto;
  padding: 3%;
}

.clouds {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #f7b733;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4px auto;
  padding: 3%;
}

.winds {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #f7b733;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4px auto;
  padding: 3%;
}

.week {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

.col {
  border: 2px solid black;
  margin: 0px 2px 0px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.next-days {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  background-color: #f7b733;
  opacity: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  height: 100%;
}

.info {
  padding: 1px 45px 1px 1px;
  margin: 1px 5px 1px 1px;
}

.max-temp-2,
.min-temp-2 {
  font-size: 20px;
  text-align: left;
  margin-left: 35px;
  padding-left: 10px;
  margin-top: 0;
  line-height: 1;
  font-weight: bold;
}

.max-temp,
.max-temp-2 {
  color: #fc4a1a;
}

.icon {
  font-size: 50px;
  text-align: right;
  width: 100%;
  padding: 1px 1px 1px 1px;
  margin: 1px 5px 1px 1px;
}

footer {
  text-align: center;
  font-size: large;
  background-color: #f7b733;
  margin-top: 10px;
}

a {
  color: #dfdce3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fc4a1a;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
